@page "/pco"

<h1 style="@Style">Parent Component Text</h1>
<CascadingValue Value="@Style" Name="ColorStyle">
    <CascadingValue Value="@BorderStyle" Name="BorderStyle">
        <ChildComponent></ChildComponent>
    </CascadingValue>
</CascadingValue>

@code {
    public string Style { get; set; } = "color:red";
    public string BorderStyle { get; set; } = "border:1px solid red";
}